pre[class*='language-'] {
  color: #4c4f69;
}

.dark pre[class*='language-'] {
  color: #cdd6f4;
}

.token.tag,
.token.class-name,
.token.selector,
.token.selector .class,
.token.selector.class,
.token.function {
  color: #8839ef;
}

.dark .token.tag,
.dark .token.class-name,
.dark .token.selector,
.dark .token.selector .class,
.dark .token.selector.class,
.dark .token.function {
  color: #cba6f7;
}

.token.attr-name,
.token.keyword,
.token.rule,
.token.pseudo-class,
.token.important {
  color: #1e66f5;
}

.dark .token.attr-name,
.dark .token.keyword,
.dark .token.rule,
.dark .token.pseudo-class,
.dark .token.important {
  color: #89b4fa;
}

.token.module {
  color: #8839ef;
}

.dark .token.module {
  color: #cba6f7;
}

.token.attr-value,
.token.class,
.token.string,
.token.property {
  color: #179299;
}

.dark .token.attr-value,
.dark .token.class,
.dark .token.string,
.dark .token.property {
  color: #94e2d5;
}

.token.punctuation,
.token.attr-equals {
  color: #7c7f93;
}

.dark .token.punctuation,
.dark .token.attr-equals {
  color: #9399b2;
}

.token.unit,
.language-css .token.function {
  color: #04a5e5;
}

.dark .token.unit,
.dark .language-css .token.function {
  color: #89dceb;
}

.token.comment,
.token.operator,
.token.combinator {
  color: #6c6f85;
}

.dark .token.comment,
.dark .token.operator,
.dark .token.combinator {
  color: #a6adc8;
}
